# RxSwift
github "ReactiveX/RxSwift" ~> 2.0
# Bond
github "SwiftBond/Bond" ~> 4.0
# Then
github "devxoul/Then" ~> 1.0
# Alamofire
github "Alamofire/Alamofire" ~> 3.0
# Himotoki
github "ikesyo/Himotoki" ~> 1.5
# SVProgressHUD
github "SVProgressHUD/SVProgressHUD"
# AsyncKit
github "mishimay/AsyncKit"
# Reaml
github "realm/realm-cocoa"
# UIColor+Hex
github "yeahdongcn/UIColor-Hex-Swift" >= 1.9
# regex
github "cezheng/PySwiftyRegex" ~> 0.2.0